body{
	margin: 0;
	background-image: url("foto/landing.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.navigasi{
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	z-index: 12;
}

.navigasi a{
	color: white;
	padding: 10px;
	text-decoration: none;
	font-family: arial;
	float: right;
}

.navigasi a:hover{
	color: black;
	background-color: white;
}

.atas{
	height: 700px;
	background-color: rgba(0,0,0,0.5);
}

.isi{
	background-size: cover;
	background-color: white;
	height: 500px;
	display: none;

}

.sambutan{
	font-weight: bold;
	font-family: arial;
	text-align: center;
	display: block;
	position: absolute;
	right: 10%;
	top: 50%;
	color: white;
}

.daftarmenu{
	font-family: arial;
	color: #ffffff;
	background-color: rgba(0,0,0,1);
	height: 800px;
}

.review{
	font-family: arial;
	background-color: white;
	padding: 50px;
}

.lokasi{
	font-family: arial;
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	padding: 50px;
}

.news{
	font-family: arial;
	background-color: rgba(255,255,255,1);
	padding: 50px;
}

.login{
	font-family: arial;
	color: #ffffff;
	background-color: rgba(0,0,0,1);
	padding: 50px;
}

.terakhir{
	font-family: apa;
	font-size: 63px;
	font-weight: 32px;
	color: white;
	background-color: rgba(0,0,0,1);
	padding: 50px;
}

@font-face{
	font-family: "apa";
	src: url("font/hi.ttf");
}

.kirim{
	background-color: green;
	color: white;
	padding: 20px;
	width: 125px;
	border-style: none;
	border-radius: 15px;
}

.reset{
	background-color: red;
	color: white;
	padding: 20px;
	width: 125px;
	border-style: none;
	border-radius: 15px;
}

.daftar{
	width: 250px;
	padding: 10px;
	border-radius: 15px;
}

.pertama{
	font-family: arial;
	display: block;
}

.kosong{
	background-color: white;
	border-style: none;
	color: black;
}

.masukan-jumlah{
	border-style: solid;
}

.kedua{
	font-family: arial;
	display: none;
	margin-top: 10%;
	font-weight: 500;
	font-size: 32px;
}

.kedua p{
	font-weight: 900;
	font-size: 128px;
}

.bayar{
	background-color: green;
	color: white;
	padding: 20px;
	width: 125px;
	border-style: none;
	border-radius: 15px;
}

.selesai{
	background-color: green;
	color: white;
	padding: 20px;
	width: 256px;
	height: 128px;
	border-style: none;
	border-radius: 15px;
}